/* Zmiana motywu */
input[type="checkbox"][role="switch"] {
  appearance: none;
  width: 38px;
  background: #000;
  border-radius: 10px;
  position: relative;
  cursor: pointer;
  transition: background 0.3s;
}

input[type="checkbox"][role="switch"]:checked {
  background: #ddd;
}

input[type="checkbox"][role="switch"]::before {
  content: "";
  width: 14px;
  height: 14px;
  background: #fff;
  border-radius: 50%;
  position: absolute;
  top: 2px;
  left: 2px;
  transition: transform 0.3s;
}

/* MOTYW */
input[type="checkbox"][role="switch"]:checked::before {
  transform: translateX(20px);
  background: #000;
}
:root[theme="ciemny"] {
	--body-background-color: #161616;
	--body-color: #fff;
	--logo: drop-shadow(2px 4px 6px rgba(255,255,255,0.2));
	--header-background-color: #0e1a47;
	/* wybor linii */
	--linia_nocna-border-color: #fff;
	/* aktualnosci */
	--aktualnosci-border-color: #00aaff;
	--aktualnosci-li2-span-color: #fff;
	--aktualnosci-h1-h2-color: #ff4040;
	--aktualnosci-h3-color: #0088ee;
	/* rozkłady jazdy */
	--table-border-niewidoczny: var(--body-background-color);
	--table-border-widoczny: #fff;
	--rozklad_miejskie_th-background-color: #345b9f;
	--rozklad_podmiejskie_th-background-color: #24378d;
	--rozklad_pospieszne_th-background-color: #6e0c0c;
	--rozklad_nocne_th-background-color: #373737;
	--rozklad_specjalne_th-background-color: #693c69;
	--rozklad_objazd_info-background-color: #4c361e;
	--ramka_nocne-border-color: #fff;
	--dymek-border-color: #5c5cfc;
	--dymek-background-color: #222;
	--dymek-color: #fff;
	/* Inne */
	--img_invert: invert(0);
	--mapa-background-color: #161616;
	--cala_mapka-filter: brightness(0.7);
}
:root[theme="jasny"] {
	--body-background-color: #fff;
	--body-color: #000;
	--logo: drop-shadow(2px 4px 6px rgba(0,0,0,0.3));
	--header-background-color: #1f2f6d;
	/* wybor linii */
	--linia_nocna-border-color: #777;
	/* aktualnosci */
	--aktualnosci-border-color: #0088ee;
	--aktualnosci-li2-span-color: #333;
	--aktualnosci-h1-h2-color: red;
	--aktualnosci-h3-color: darkblue;
	/* rozkłady jazdy */
	--table-border-niewidoczny: #fff;
	--table-border-widoczny: #000;
	--table_th-color: #000;
	--rozklad_miejskie_th-background-color: #C9DAF8;
	--rozklad_podmiejskie_th-background-color: #a4c2f4;
	--rozklad_pospieszne_th-background-color: #f4cccc;
	--rozklad_nocne_th-background-color: #d9d9d9;
	--rozklad_specjalne_th-background-color: #D1A4D1;
	--rozklad_objazd_info-background-color: #fce5cd;
	--ramka_nocne-border-color: #000;
	--dymek-border-color: #1f2f6d;
	--dymek-background-color: #fff;
	--dymek-color: #000;
	/* Inne */
	--img_invert: invert(1);
	--mapa-background-color: #e6e6e6;
	--cala_mapka-filter: brightness(1);
}
:root {
  --body-background-color: #161616;
  --body-color: #fff;
}

/* Głowne ustawienia strony */
@font-face {
    font-family: 'CustomFont';
    src: url('font.ttf') format('truetype');
}
body {
	background-color: var(--body-background-color);
    font-family: 'CustomFont';
    color: var(--body-color);
    margin: 0;
    padding: 0;
}
footer {
	background-color: var(--header-background-color);
	color: #fff;
	margin-top: 40px;
	text-align: center;
	padding: 8px 0;
}
.logo {
    filter: var(--logo);
	max-width: 35%;
}



/* Pasek nawigacji HEADER + NAV */
header {
    background-color: var(--header-background-color);
    color: #fff;
    display: flex;
    justify-content: center;
    padding: 15px 0;
	width: 100%;
}
header a {
    color: #fff;
    text-decoration: none;
    font-weight: 500;
    letter-spacing: 0.5px;
    transition: color 0.3s ease;
	padding: 0 3%;
}
header a:hover {
    color: #cccccc;
}

.div_przycisk_mapa {
    display: flex;
    flex-direction: column;
    align-items: center;
	margin-top: 50px;
    gap: 25px;
}
.przycisk_mapa {
    background-color: #1f2f6d;
    color: #fff;
    border-radius: 15px;
    padding: 15px 25px;
    display: flex;
    align-items: center;
    text-decoration: none;
    font-size: 18px;
    font-weight: bold;
    transition: background-color 0.3s ease, transform 0.3s ease;
}
.przycisk_mapa:hover {
    background-color: #16264e;
}
.icon_mapa {
    width: 50px;
    height: 50px;
    margin-right: 12px;
}


/* Przyciski wyboru linii */
.div_wybor_linii {
	display: flex;
	justify-content: center;
	align-items: center;
    flex-wrap: wrap;
	text-align: center;
	min-height: 143px;
}

.linia_miejska, .linia_podmiejska, .linia_pospieszna, .linia_nocna, .linia_specjalna, .linia_specjalna2 {
	line-height: 35px;
	min-width: 50px;
	transition: background-color 0.3s ease, transform 0.2s ease;
	float: left;
	margin: 25px 7px 0 7px;
	background-color: #fff;
	color: #000;
    text-decoration: none;
	font-weight: bold;
	font-size: 26px;
    letter-spacing: 0.5px;
}
.linia_nocna {
	background-color: #333;
	color: #fff;
}
.linia_specjalna2 {
	padding-right: 15px;
	padding-left: 5px;
	line-height: 35px;
	display: inline-flex;
    align-items: center;
    gap: 6px;
}

.objazd {
	position: relative;
}

.objazd::before {
    content: "Objazd";
    position: absolute;
    bottom: calc(100% + 3px);
    left: -3.5px;
    background-color: #ff9900;
    color: #000;
    font-size: 14px;
    font-weight: bold;
    line-height: 22px;
    height: 22px;
    padding: 0 3px;
    white-space: nowrap;
}

.linia_miejska {
	border: 4px solid #0094ff;
}
.linia_podmiejska {
	border: 4px solid #24378d;
}
.linia_pospieszna {
	border: 4px solid #ff0000;
}
.linia_nocna {
	border: 4px solid var(--linia_nocna-border-color);
}
.linia_specjalna, .linia_specjalna2 {
	border: 4px solid #7F4A7F;
}

.linia_miejska:hover, .linia_podmiejska:hover, .linia_pospieszna:hover, .linia_specjalna:hover, .linia_specjalna2:hover {
	background-color: #ddd;
	transform: scale(1.02);
}
.linia_nocna:hover {
	background-color: #555;
	transform: scale(1.02);
}
.objazd:hover {
	background-color: #dd9900;
	transform: scale(1.02);
}





/* Mapka */

.menu-mapka {
	background-color: var(--header-background-color);
	padding: 0.2%;
	max-width: 9.5%;
	width: 105px;
	color: #fff;
	float: left;
}

.menu-mapka button {
	background-color: #ccc;
	border: 2px solid #000;
	margin: 5px;
	cursor: pointer;
	border-radius: 5px;
	font-weight: bold;
}

.menu-mapka p {
	margin-left: 5px;
	font-size: 12px;
}
.menu-mapka input, .menu-mapka label {
	float: left;
	cursor: pointer;
}
.menu-mapka hr {
	width: 15px;
	height: 8px;
	float: left;
	margin: 6px 0 6px 7px;
	border: 1px solid black;
}

#cala_mapka {
    position: relative;
    float: left;
    width: 88%;
    height: 2400px;
}
#cala_mapka::before {
    content: "";
    position: absolute;
    inset: 0;
    background-image: url("../zdjecia/whole.roadmap.png");
    background-size: contain;
    background-repeat: no-repeat;
    filter: var(--cala_mapka-filter);
    z-index: 0;
}
#cala_mapka.jasna_mapka::before {
	filter: brightness(1);
}
#jasnosc:disabled {
    opacity: 0.5;
    cursor: not-allowed;
	/*display: none;*/
}
#cala_mapka > * {
    position: relative;
    z-index: 1;
}

@media (max-width: 1449px){ #cala_mapka img {
	position: absolute;
	width: 100%;
	display: none;
}}
@media (min-width: 1450px){ #cala_mapka img {
	position: absolute;
	height: 100%;
	display: none;
}}





/* Strona główna AKTUALNOSCI */

.aktualnosci {
	margin-left: 8%;
	margin-right: 8%;
	margin-bottom: 60px;
	border: 3px solid var(--aktualnosci-border-color);
	padding-left: 0.75%;
	padding-right: 0.75%;
}
.aktualnosci ul {
	list-style-type: none;
	padding-left: 0.5%;
}
.aktualnosci li:before {
	margin-bottom: 0.5%;
	content: '\2794';
	margin-right: 0.5%;
	color: red;
}
.aktualnosci .li2:before {
	content:'';
}
.aktualnosci .li2 {
	list-style-type: disc;
	color: orange;
	margin-left: 3%;
}
.aktualnosci .li2 span {
	color: var(--aktualnosci-li2-span-color);
}

.aktualnosci h1, .aktualnosci h2 {
	color: var(--aktualnosci-h1-h2-color);
}
.aktualnosci h3 {
	color: var(--aktualnosci-h3-color);
	/*color: #5c5cfc;*/
}
.aktualnosci img {
	max-width: 99.5%;
}
.aktualnosci table {
	margin: 0 1% 1% 1%;
	width: 98%;
}
.aktualnosci table tr {
	color: var(--aktualnosci-border-color);
	font-weight: bold;
	text-align: center;
	font-size: 18px;
	padding: 4px;
}
.aktualnosci table td {
	border: 2px solid var(--aktualnosci-border-color);
}

.linia_miejska_text, .linia_podmiejska_text, .linia_pospieszna_text, .linia_nocna_text, .linia_specjalna_text, .linia_specjalna2_text {
	display: inline-block;
	min-width: 40px;
	margin: 0 7px 0 7px;
	background-color: #fff;
	color: #000;
    text-decoration: none;
	font-weight: bold;
	font-size: 20px;
    letter-spacing: 0.5px;
	text-align: center;
	margin-bottom: 6px;
}
.linia_nocna_text {
	background-color: #333;
	color: #fff;
}
.linia_specjalna2_text {
	padding-right: 15px;
	padding-left: 5px;
	height: 50px;
	line-height: 50px;
	display: inline-flex;
    align-items: center;
    gap: 6px;
}

.linia_miejska_text {
	border: 3px solid #0094ff;
}
.linia_podmiejska_text {
	border: 3px solid #24378d;
}
.linia_pospieszna_text {
	border: 3px solid #ff0000;
}
.linia_nocna_text {
	border: 3px solid var(--linia_nocna-border-color);
}
.linia_specjalna_text, .linia_specjalna2_text {
	border: 3px solid #7F4A7F;
}





/* ROZKLADY JAZDY */
/* ustawienia tabel */

table {
    border-collapse: collapse;
}
table th, table td {
    padding: 4px;
}
table th {
    color: var(--table-border-widoczny);
}
.tables-container {
	margin-top: 60px;
}
.tables-container::after {
	content: "";
	clear: both;
	display: table;
}

/* tabelki rozkładowe */

.rozklad_miejskie, .rozklad_podmiejskie, .rozklad_pospieszne, .rozklad_nocne, .rozklad_specjalne {
    float:left;
    width:auto;
    margin:auto;
	margin-left: 1%;
	text-align: center;
}
.rozklad_miejskie th, .rozklad_podmiejskie th, .rozklad_pospieszne th, .rozklad_nocne th, .rozklad_specjalne th, .rozklad_miejskie td, .rozklad_podmiejskie td, .rozklad_pospieszne td, .rozklad_nocne td, .rozklad_specjalne td {
	border: 1px solid var(--table-border-widoczny);
}
.rozklad_miejskie td, .rozklad_podmiejskie td, .rozklad_pospieszne td, .rozklad_specjalne td {
    width: 40px;
}
.rozklad_nocne td {
    width: 60px;
}

.rozklad_miejskie th, .przystanki_miejskie th {
	background-color: var(--rozklad_miejskie_th-background-color);
}
.rozklad_podmiejskie th, .przystanki_podmiejskie th {
	background-color: var(--rozklad_podmiejskie_th-background-color);
}
.rozklad_pospieszne th, .przystanki_pospieszne th {
	background-color: var(--rozklad_pospieszne_th-background-color);
}
.rozklad_nocne th, .przystanki_nocne th {
	background-color: var(--rozklad_nocne_th-background-color);
}
.rozklad_specjalne th, .przystanki_specjalne th {
	background-color: var(--rozklad_specjalne_th-background-color);
}

.ramka_miejskie, .ramka_podmiejskie, .ramka_pospieszne, .ramka_nocne, .ramka_specjalne {
	font-size: 42px;
	margin-left: 41.5px;
	padding: 4px;
	width: 56px;
	height: 56px;
	border: 4px solid;
}
.ramka_miejskie {
	border-color: #00B1EB;
}
.ramka_podmiejskie {
	border-color: #24378d;
}
.ramka_pospieszne {
	border-color: #ff0000;
}
.ramka_nocne {
	border-color: var(--ramka_nocne-border-color);
}
.ramka_specjalne {
	border-color: #7F4A7F;
}

.linie td {
	border-bottom: hidden;
	padding-bottom: 0;
}

/* tabelki z przystankami */

.przystanki_miejskie, .przystanki_podmiejskie, .przystanki_pospieszne, .przystanki_nocne, .przystanki_specjalne {
    float: left;
	margin-left: 1%;
	border: 1px solid var(--table-border-widoczny);
}
.przystanki_miejskie th, .przystanki_podmiejskie th, .przystanki_pospieszne th, .przystanki_nocne th, .przystanki_specjalne th {
	text-align: left;
}

/* dymek */

#dymek {
	border: 2px solid var(--dymek-border-color);
	border-radius: 5px;
	background-color: var(--dymek-background-color);
	color: var(--dymek-color);
	padding: 4px;
	position: absolute;
	left: 0;
	top: 0;
	display: none; 
	z-index: 10;
	font-family: Arial, monospace;
}

/* inne */

.red-text {
    color: red;
}
.green-text {
    color: #009900;
}
.objazd-text {
	color: #ff9900;
}

.img_invert {
	filter: var(--img_invert);
}





/* changelog */

.changelog {
	justify-content: center;
	align-items: center;
	border: 1px solid #676767;
	margin: 3% 15% 3% 15%;
	padding-left: 1%;
}





@media screen and (max-width: 768px) {
    .ignore-on-mobile {
        display: none;
    }
}